.reservation { 
  border:2px #7a7a7a solid;
  padding:5px;
  margin-right: 16px;
  margin-top: 15px;
  position: fixed;
  cursor: pointer;
  right:0;
}

h5 {
  font-size: 20px;
  color: #7a7a7a;
  margin: 0;
}

h6 {
  font-size: 20px;
  color: #474747;
  text-align: center;
  margin: 0;
}

body {
  background-image: url(../img/3103694_l.jpg);
}

.container {
  margin:0 250px;
}

header {
  height: 70px;
}

.header-up {
  display:flex;
}

.header-up > img {
  height:60px;
  margin-right: 40px;
  margin-top: 5px;
}

.header-up > p {
  margin-top: 23px;
}

.header-up > h1 {
  font-size: 20px;
  margin-left: 80px;
  margin-top: 24px;
  font-family: sans-serif;
}

.far {
  margin-right: 5px;
}

.fas {
  margin-right: 5px;
}

.header-down > ul {
  display: flex;
}

.header-down > ul > li {
  text-align: center;
  list-style: none;
  margin-right: 50px;
  z-index: 10;
} 

.header-down > ul >li:hover {
  opacity:0.7;
  cursor: pointer;
}

.header-down > ul > li > a {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  display: block;
  color:black;
  text-decoration: none;
}

.header-down > ul > li > p {
  margin:0;
}

.home > img {
  width:1000px;
  height:600px;
  margin:0 auto;
  padding-top: 110px;
}

.st {
  border-bottom: double 5px rgb(252, 148, 63);
  display: inline-block;
}

.fd {
  color: black;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px orange;
  border-bottom: solid 2px orange;
  background: -webkit-repeating-linear-gradient(-45deg, #fff0d9, #fff0d9 3px,#f8e7c2 3px, #f8e7c2 7px);
  background: repeating-linear-gradient(-45deg, #fff0d9, #fff0d9 3px,#f8e7c2 3px, #f8e7c2 7px);
}

.news {
  background-image: url(../img/3173904_m.jpg);
  width:1000px;
  height:500px;
  margin-bottom: 100px;
  background-size: cover;
}

.news h1 {
  font-size:30px;
  padding-top: 90px;
  padding-left: 230px;
  color:#333;
}

.news p {
  padding-top: 1px;
  padding-left: 120px;
  font-size:16px;
  letter-spacing: 5px;
}

section > img {
  width:140px;
  height:170px;
  margin-right: 60px;
}

section {
  display: flex;
  width: 1000px;
}

.zentai {
  margin-bottom: 40px;
}

.j {
  display: flex;
}

tbody {
  margin-right: 60px;
}

tr {
  margin-bottom: 3px;
}

.line {
  border-top:1px black dotted;
}

.cut p {
  margin: 0;
  padding-bottom: 20px;
}

.cut-menu > tbody {
  margin-top: 20px;
}

.appoint {
  margin-bottom: 70px;
}

.appoint-menu {
  margin-left: 206px;
}

.main-staff {
  display: flex;
  margin: 50px 0;
}

.main-staff > img {
  margin-right: 30px;
  display: block;
  width: 300px;
  height:400px;
}

.staff-introduce {
  color: rgb(97, 25, 25);
}

.staff-introduce > p {
  font-size: 14px;
}

.staff-list {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: rgb(243, 231, 204);/*背景色*/
  border-left: double 7px brown;/*左線*/
  border-right: double 7px brown;/*右線*/
  width: 800px;
  height:200px;
  margin: 0 auto ;
}

.staff-list > ul {
  display: flex;
  width: 680px;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 30px;
}

.staff-list > ul > li {
  list-style: none;
  display: list-item;
  color: rgb(97, 25, 25);
  margin-right: 40px;
  cursor: pointer;
}

.staff-list > ul > li > a {
  display: block;
  width: 100px;
  text-align: center;
  font-size: 17px;
  
}

.coupon {
  margin-top: 80px;
}

.coupon-info {
  display: flex;
  margin: 50px 0;
}

.coupon-info > img {
  margin-right: 50px;
}

.coupon-text > p {
  letter-spacing: 3px;
}

.coupon-text span {
  font-size: 24px;
  font-weight: bold;
}

.info {
  justify-content: space-between;
  display: flex;
}

.info-left {
  width: 550px;
}

.info-left  h1 {
  font-size:28px;
}

.info-left p {
  font-size: 18px;
}

.info-right {
  width:300px;
}

.info-right h1 {
  font-size: 28px;
}

.info-d th,td {
  border-bottom: 1px rgb(158, 155, 155) dotted;
  padding:10px 0;
  text-align: center;
}

footer {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
